* {
  margin: 0px;
  box-sizing: border-box;
}
.searchItemContainer2 {
  height: 400px;
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 60px;
}

.searchItemImg {
  height: 250px;
  width: 320px;
}
.searchItemImg2 {
  height: 50px;
  width: 45px;
}
.linked {
  text-decoration: none;
}
.searchItemSubContainer {
  display: flex;
  background-color: aliceblue;
  border-radius: 8px;

  padding: 20px;
  width: 320px;
  height: 230px;
}
.SearchItemDetails {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
  height: 280px;
}

.searchItemPara {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #1e293b;
  margin-bottom: 20px;
}
.searchItem2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #475569;
  margin-bottom: 15px;
}
.searchItemInfoCont {
  display: flex;
}
.searchItemViews {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #475569;
}

.dot {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #475569;
  margin-left: 6px;
  margin-right: 6px;
}
.searchItemTime {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #475569;
}

@media (max-width: 1100px) {
  .searchItemContainer2 {
    height: 300x;
    width: 260px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .searchItemImg {
    height: 200px;
    width: 300px;
  }
  .searchItemSubContainer {
    display: flex;
    background-color: aliceblue;
    border-radius: 8px;

    padding: 20px;
    width: 300px;
    height: 180px;
  }
  .searchItemPara {
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    color: #1e293b;
    margin-bottom: 20px;
  }
  .searchItem2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    color: #475569;
    margin-bottom: 15px;
  }
  .searchItemViews {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    color: #475569;
  }
}
