* {
  margin: 0px;
  box-sizing: border-box;
}
.lo {
  border: 0px;
  background-color: transparent;
}
.cont {
  height: 25vh;
  width: 45vw;
  padding: 30px;
}
.unordered {
  list-style-type: none;
  display: flex;
}
.popoutPara {
  font-size: 25px;
  color: #475569;
  font-weight: 500;
  font-family: Roboto;
  margin-bottom: 40px;
}
.closeBtn {
  border: #e2e8f0 2px solid;
}
.confirmBtn {
  background-color: #4f46e5;
  color: white;
  border: 0px;
}
.popoutBtn {
  height: 40px;
  width: 90px;
  border-radius: 5px;
  margin-right: 20px;
}
.navBar {
  background-color: white;
  height: 8vh;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-cont-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-logoImg {
  height: 35px;
  width: 120px;
  margin-bottom: 10px;
}
.nav-subContainer {
  display: flex;
}
.nav-cont-img {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
.logoutBtn {
  background-color: white;
  color: #4f46e5;
  font-size: 12px;
  font-family: Roboto;
  border: #4f46e5 2px solid;
  border-radius: 8px;
  margin-left: 20px;
  height: 34px;
  width: 90px;
  cursor: pointer;
}
