* {
  margin: 0px;
  box-sizing: border-box;
}
.trendingContainer {
  background-color: #f8fafc;
  height: 92vh;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 85vw;
  padding: 30px;
}
.trendingItemContainerColumn {
  display: flex;
  flex-direction: column;

  width: 70vw;
}
.trendingSingleContainer {
  padding: 40px;
  padding-left: 0px;
}
.unordered {
  display: flex;
  flex-direction: column;
}

.trendingNav {
  display: flex;
  background-color: white;
  width: 85%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.trendingImg {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  color: red;
}
.trendingHead {
  font-size: 28px;
  color: black;
  font-weight: 600;
  font-family: Roboto;
}

@media (max-width: 1100px) {
  .sthWrongHead {
    font-size: 20px;
  }
  .sthWrongPara {
    font-size: 18px;
    width: 50%;
    text-align: center;
  }
}
